*.eps  filter=fat -crlf
*.icc  filter=fat -crlf
*.jpg  filter=fat -crlf
*.pdf  filter=fat -crlf
*.png  filter=fat -crlf
*.svgz filter=fat -crlf

/data/topoOpt/**/*.density.xml filter=fat -crlf
/data/topoOpt/**/*.h5          filter=fat -crlf

*.tex diff=tex
